<html>
  <head><title>Demo318: Sinatra Games Suite</title></head>
  <body>
    <p>
      Welcome to the Sinatra Games Suite!
    </p>
    <p>
      <a href='/mastermind'>Play Mastermind!</a>
    </p>
  </body>
</html>
