<html>
  <head>
    <title>MASTERMIND</title>
  </head>
  
  <body>
    <h1>MASTERMIND</h1>

    <% # Initial form for player to pick a role. %>
    <% if request.get? %>
      <form method='post'>
        <p>Which part would you like to play?</p>
        <p><input type='radio' name='player' value='master'> Code Master</p>
        <p><input type='radio' name='player' value='breaker'> Code Breaker<br /></p>
        <input type='submit' value='Play Mastermind'>
      </form>
    <% end %>

    <% # Only appears first time for player to set code. %>
    <% if request.post? && player == 'master' && game.scret_code.nil? %>
      <p>This is the spot where you enter your code!</p>
      <form method='post'>
        <input type='hidden' name='player' value='master'>
        <input type='hidden' name='game' value=<%= YAML::dump(game) %>>
        <input type='submit' value='Set Code'>
      </form>
    <% end %>

    <% # Displays board output. %>
    <% if request.post? %>
      <p>This is where the mastermind board shows up!</p>
    <% end %>

    <% # Only displays for player guessing numbers %>
    <% if request.post? && player == 'breaker' %>
      <p>This is where you enter your guesses!</p>
      <form method='post'>
        <% # User has field to enter four characters (numbers) %>
        <% # Those are validated as an acceptable input %>
        <% # If invalid input %>
        <% #   Message is displayed to user that input is invalid. %>
        <% # Else if valid input %>
        <% #   Message is displayed to user of how close he was. %>
        <% #   Game results are displayed if game_over? %>
        <% # end %>
        <% # Updated gameboard is displayed %>
        
        <input type='hidden' name='player' value='<%= player %>'>
        <input type='hidden' name='game' value='<%= YAML::dump(game) %>'>
        <input type='submit' value='Submit'>
      </form>
    <% end %>

  </body>
</html>